.tudo {
  max-width: 998px;
}

.nomeHeader {
  height: 400px;
  width: 500px;
  background-color: #ff8a9d;
  border: #ff8a9d solid 2px;
  border-radius: 35px;
  transform: rotate(-35deg);
  position: relative;
  right: 200px;
  top: -220px;
}

.nomeHeader button {
  transform: rotate(35deg);
  position: relative;
  top: 75%;
  left: 45%;
  text-decoration: none;
  color: white;
  background-color: #ff8a9d;
  border: #ff8a9d solid 2px;
  border-radius: 35px;
  padding: 8px;
}

.listaNav {
  list-style: none;
  display: flex;
  float: right;
  position: relative;
  top: -400px;
  right: 10%;
}

.listaNav li button {
  justify-content: center;
  margin-right: 15px;
  text-decoration: none;
  border: 2px solid #ff8a9d;
  border-radius: 35px;
  background: #ff8a9d;
  padding: 8px;
  color: #fff;
}

.listaNav li button:hover{
  color: #ff8a9d;
  background: #fff;
  justify-content: center;
}

.escritos {
  position: relative;
  top: -230px;
  left: 15%;
}

.escritos h1 {
  font: 40px 'Courier New', Courier, monospace;
  max-width: 400px;
  text-align: left;
}

.escritos p {
  font: 20px bold Helvetica, Arial, sans-serif;
  max-width: 400px;
  margin-bottom: 40px;
  color: #969693;
}

.escritos button {
  margin-right: 15px;
  text-decoration: none;
  border: 2px solid #ff8a9d;
  border-radius: 35px;
  background: #ff8a9d;
  padding: 8px;
  color: #fff;
}

.escritos button:hover {
  color: #ff8a9d;
  background: #fff;
}

.nada {
  height: 900px;
  width: 1000px;
  background: #1c5075;
  border: 2px solid #1c5075;
  border-radius: 25px;
  transform: rotate(-40deg);
  position: relative;
  top: -600px;
  left: 70%;
}
/* 
@media only screen and (min-width:788px) and (max-width:979px){
  .nomeHeader {
     background-color: #fff;
     color: #fff;
     border: #fff;
  }

  .nada {
    background-color: #fff;
    border: #fff;
  }
}

@media only screen and (max-width: 788px) {
  .nomeHeader {
    background-color: g#fff;
    color: #fff;
    border: #fff;
 }

 .nada {
   background-color: #fff;
   border: #fff;
 }
} */